/*
Name:   Base2Tone-Heath
Author: by Bram de Haan, adapted from DuoTone themes by Simurai (http://simurai.com/projects/2016/01/01/duotone-themes)

CodeMirror template by Jan T. Sott (https://github.com/idleberg), adapted by Bram de Haan (https://github.com/atelierbram/)
*/

.cm-s-Base2Tone-Heath-dark.CodeMirror { background: #222022; color: #635f63; }
.cm-s-Base2Tone-Heath-dark div.CodeMirror-selected { background: #575158!important; }
.cm-s-Base2Tone-Heath-dark .CodeMirror-gutters { background: #222022; border-right: 0px; }
.cm-s-Base2Tone-Heath-dark .CodeMirror-linenumber { color: #575158; }

/* begin cursor */
.cm-s-Base2Tone-Heath-dark .CodeMirror-cursor { border-left: 1px solid #cc8c33; /* border-left: 1px solid #cc8c3380; */ border-right: .5em solid #cc8c33; /* border-right: .5em solid #cc8c3380; */ opacity: .5; }
.cm-s-Base2Tone-Heath-dark .CodeMirror-activeline-background { background: #2f2d2f; /* background: #2f2d2f80;  */ opacity: .5;}
.cm-s-Base2Tone-Heath-dark .cm-fat-cursor .CodeMirror-cursor { background: #cc8c33; /* background: #cc8c3380; */ opacity: .5;}
/* end cursor */

.cm-s-Base2Tone-Heath-dark span.cm-atom, .cm-s-Base2Tone-Heath-dark span.cm-number, .cm-s-Base2Tone-Heath-dark span.cm-keyword, .cm-s-Base2Tone-Heath-dark span.cm-variable, .cm-s-Base2Tone-Heath-dark span.cm-attribute, .cm-s-Base2Tone-Heath-dark span.cm-quote, .cm-s-Base2Tone-Heath-dark span.cm-hr, .cm-s-Base2Tone-Heath-dark span.cm-link { color: #ffd599; }

.cm-s-Base2Tone-Heath-dark span.cm-property { color: #9a819c; }
.cm-s-Base2Tone-Heath-dark span.cm-punctuation, .cm-s-Base2Tone-Heath-dark span.cm-unit, .cm-s-Base2Tone-Heath-dark span.cm-negative { color: #b87414; }
.cm-s-Base2Tone-Heath-dark span.cm-string { color: #d9b98c; }
.cm-s-Base2Tone-Heath-dark span.cm-operator { color: #cc8c33; }
.cm-s-Base2Tone-Heath-dark span.cm-positive { color: #a21fad; }

.cm-s-Base2Tone-Heath-dark span.cm-variable-2, .cm-s-Base2Tone-Heath-dark span.cm-variable-3, .cm-s-Base2Tone-Heath-dark span.cm-string-2, .cm-s-Base2Tone-Heath-dark span.cm-url { color: #845e87; }
.cm-s-Base2Tone-Heath-dark span.cm-def, .cm-s-Base2Tone-Heath-dark span.cm-tag, .cm-s-Base2Tone-Heath-dark span.cm-builtin, .cm-s-Base2Tone-Heath-dark span.cm-qualifier, .cm-s-Base2Tone-Heath-dark span.cm-header, .cm-s-Base2Tone-Heath-dark span.cm-em { color: #fdebff; }
.cm-s-Base2Tone-Heath-dark span.cm-bracket, .cm-s-Base2Tone-Heath-dark span.cm-comment { color: #635f63; }

/* using #f00 red for errors, don't think any of the colorscheme variables will stand out enough, ... maybe by giving it a background-color ... */
.cm-s-Base2Tone-Heath-dark span.cm-error, .cm-s-Base2Tone-Heath-dark span.cm-invalidchar { color: #f00; }

.cm-s-Base2Tone-Heath-dark span.cm-header { font-weight: normal; }
.cm-s-Base2Tone-Heath-dark .CodeMirror-matchingbracket { text-decoration: underline; color: #fdebff!important; }

