/*
Name:   Base2Tone-Suburb
Author: by Bram de Haan, adapted from DuoTone themes by Simurai (http://simurai.com/projects/2016/01/01/duotone-themes)

CodeMirror template by Jan T. Sott (https://github.com/idleberg), adapted by Bram de Haan (https://github.com/atelierbram/)
*/

.cm-s-Base2Tone-Suburb-light.CodeMirror { background: #fbf9fa; color: #fb6fa9; }
.cm-s-Base2Tone-Suburb-light div.CodeMirror-selected { background: #eae1e5 !important; }
.cm-s-Base2Tone-Suburb-light .CodeMirror-gutters { background: #fbf9fa; border-right: 0px; }
.cm-s-Base2Tone-Suburb-light .CodeMirror-linenumber { color: #d7cbd0; }

/* begin cursor */
.cm-s-Base2Tone-Suburb-light .CodeMirror-cursor { border-left: 1px solid #b9c2fe; /* border-left: 1px solid #b9c2fe80; */ border-right: .5em solid #b9c2fe; /* border-right: .5em solid #b9c2fe80; */ opacity: .5; }
.cm-s-Base2Tone-Suburb-light .CodeMirror-activeline-background { background: #eae1e5;  /* background: #eae1e580; */ opacity: .5; }
.cm-s-Base2Tone-Suburb-light .cm-fat-cursor .CodeMirror-cursor { background: #b9c2fe; /* #b9c2fe80; */ opacity: .5; }
/* end cursor */

.cm-s-Base2Tone-Suburb-light span.cm-atom, .cm-s-Base2Tone-Suburb-light span.cm-number, .cm-s-Base2Tone-Suburb-light span.cm-keyword, .cm-s-Base2Tone-Suburb-light span.cm-variable, .cm-s-Base2Tone-Suburb-light span.cm-attribute, .cm-s-Base2Tone-Suburb-light span.cm-quote, .cm-s-duotone-light-light span.cm-hr, .cm-s-duotone-light-light span.cm-link { color: #5165e6; }

.cm-s-Base2Tone-Suburb-light span.cm-property { color: #f25a99; }
.cm-s-Base2Tone-Suburb-light span.cm-punctuation, .cm-s-Base2Tone-Suburb-light span.cm-unit, .cm-s-Base2Tone-Suburb-light span.cm-negative { color: #5165e6; }
.cm-s-Base2Tone-Suburb-light span.cm-string, .cm-s-Base2Tone-Suburb-light span.cm-operator { color: #7586f5; }
.cm-s-Base2Tone-Suburb-light span.cm-positive { color: #f25a99; }

.cm-s-Base2Tone-Suburb-light span.cm-variable-2, .cm-s-Base2Tone-Suburb-light span.cm-variable-3, .cm-s-Base2Tone-Suburb-light span.cm-string-2, .cm-s-Base2Tone-Suburb-light span.cm-url { color: #f25a99; }
.cm-s-Base2Tone-Suburb-light span.cm-def, .cm-s-Base2Tone-Suburb-light span.cm-tag, .cm-s-Base2Tone-Suburb-light span.cm-builtin, .cm-s-Base2Tone-Suburb-light span.cm-qualifier, .cm-s-Base2Tone-Suburb-light span.cm-header, .cm-s-Base2Tone-Suburb-light span.cm-em { color: #d14781; }
.cm-s-Base2Tone-Suburb-light span.cm-bracket, .cm-s-Base2Tone-Suburb-light span.cm-comment { color: #c2b7bc; }

/* using #f00 red for errors, don't think any of the colorscheme variables will stand out enough, ... maybe by giving it a background-color ... */
/* .cm-s-Base2Tone-Suburb-light span.cm-error { background: #f25a99; color: #728fcb; } */
.cm-s-Base2Tone-Suburb-light span.cm-error, .cm-s-Base2Tone-Suburb-light span.cm-invalidchar { color: #f00; }

.cm-s-Base2Tone-Suburb-light span.cm-header { font-weight: normal; }
.cm-s-Base2Tone-Suburb-light .CodeMirror-matchingbracket { text-decoration: underline; color: #fbf9fa !important; }

